<!-- filepath: /Users/alexanderbahlk/Development/Docker/DockerDesktop/island_shops/app/views/admin/shop_item_types/orphaned.html.erb -->
<div id="title_bar" class="title_bar">
    <div id="titlebar_left">
        <span class="breadcrumb">
            <%= link_to "Admin", admin_root_path %>
            <span class="breadcrumb_sep">/</span>
            <%= link_to "Shop Item Types", admin_shop_item_types_path %>
            <span class="breadcrumb_sep">/</span>
            <span class="current">Orphaned Types</span>
        </span>
        <h1 id="page_title">Orphaned Shop Item Types</h1>
    </div>
</div>

<div class="panel">
    <div class="panel_contents">
        <p>These types are not associated with any subcategories:</p>

        <% if @orphaned_types.any? %>
        <table class="index_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @orphaned_types.each do |type| %>
                <tr>
                    <td><%= type.id %></td>
                    <td><%= type.title %></td>
                    <td><%= type.created_at %></td>
                    <td>
                        <%= link_to "View", admin_shop_item_type_path(type), class: "button" %>
                        <%= link_to "Edit", edit_admin_shop_item_type_path(type), class: "button" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% else %>
        <p>No orphaned types found. All types are properly associated with subcategories.</p>
        <% end %>
    </div>
</div>

<%= link_to "Back to Shop Item Types", admin_shop_item_types_path, class: "button" %>